{% extends 'hod_template/base_template.html' %}

{% block page_title %}
   
{% endblock page_title %}

{% block main_content %}

{% load static %}
<form action"">
    <div class="input-group mb-4">  
      <input type="search" placeholder="Search here..." aria-describedby="button-addon5" name="se" class="form-control">  
      <div class="input-group-append">  
        <button id="button-addon5" type="submit" class="btn btn-primary"> <i class="fa fa-search"> </i> </button>  
      </div>  
    </div>  
</form>
  
  <div>
     </div>

  {% endblock main_content %}

  {% comment %} Custom JS to Identify the Reply and Post Reply {% endcomment %}

  {% block custom_js %}

  {% endblock custom_js %}